<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a href="/"><img src="https://images.vexels.com/media/users/3/234729/isolated/lists/bf47d9b38632cb9b82dcbaeb75405306-paisaje-de-bosque-azul.png" height="35px" width="auto" display="inline"></a>
      <a class="navbar-brand" href="/">

        <span top="10px">Nuestros Viajes</span>
    </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'feed:index'%}">Galería</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'feed:post' %}">Añadir Nueva Imagen</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>